/* Buttons */
/* Inputs */
/* Timeline custom component */

html {
  scroll-behavior: smooth;
}

.timeline {
  border-left: 2px solid #E6E9ED;
  padding: 1rem 0;
}

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
}

.timeline-card:last-child {
  margin-bottom: 1rem;
}

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2;
}

.timeline-card:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-card-primary {
  border-left-color: rgba(14, 27, 64, 0.92);
}

.timeline-card-primary:before {
  border-color: rgba(14, 27, 64, 0.92);
}

.timeline-card-primary:after {
  background-color: rgba(14, 27, 64, 0.92);
}

.timeline-card-success {
  border-left-color: #37BC9B;
}

.timeline-card-success:before {
  border-color: #37BC9B;
}

.timeline-card-success:after {
  background-color: #37BC9B;
}

html {
  scroll-behavior: smooth;
}

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.nav-link {
  padding: 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: rgba(0, 0, 0, 0.8);
}

.link-light {
  color: rgb(255, 255, 255, 0.6);
}

.link-light:hover,
.link-light:focus,
.active .link-light {
  color: rgb(255, 255, 255);
}


.nav-item+.nav-item {
  margin-left: 1rem;
}

.cover {
  border-radius: 10px;
}

.cover-bg {
  background-color: #0e1b40eb;
  border-radius: 10px 10px 0 0;
}

.avatar {
  max-width: 216px;
  max-height: 216px;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.avatar img {
  border-radius: 50%;
  object-fit: cover;
}

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 48em) {
  .site-title {
    float: left;
  }

  .site-nav {
    float: right;
  }

  .avatar {
    margin-bottom: -80px;
    margin-left: 0;
  }
}

.gallery .cc-porfolio-image figure {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.gallery .cc-porfolio-image figure img {
  position: relative;
  display: block;
  max-width: 100%;
  opacity: 1;
}

.gallery .cc-porfolio-image figure figcaption {
  position: absolute;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gallery .cc-porfolio-image figure figcaption,
.gallery .cc-porfolio-image figure figcaption>a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery .cc-porfolio-image figure figcaption>a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.gallery .cc-porfolio-image figure .h4,
.gallery .cc-porfolio-image figure p {
  margin: 0;
}

.gallery figure.cc-effect figcaption::before,
.gallery figure.cc-effect figcaption::after {
  position: absolute;
  content: '';
  opacity: 0;
}

.gallery figure.cc-effect figcaption::before {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  transform: scale(0, 0);
  transform-origin: 0 0;
}

.gallery figure.cc-effect figcaption::after {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  transform: scale(0, 0);
  transform-origin: 100% 0;
}

.gallery figure.cc-effect .h4 {
  margin-top: 25%;
  transition: transform 0.35s;
  opacity: 0;
}

@media (max-width: 380px) {
  .gallery figure.cc-effect .h4 {
    font-size: 14px;
  }

}

.gallery figcaption .container {
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.gallery figure.cc-effect p,
.gallery figure.cc-effect button {
  padding: 0.5em 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 0.35s;
  opacity: 0;
}

.gallery figure.cc-effect img,
.gallery figure.cc-effect .h4 {
  transform: scale(1.06, 1.06);
}

.gallery figure.cc-effect img,
.gallery figure.cc-effect figcaption::before,
.gallery figure.cc-effect figcaption::after,
.gallery figure.cc-effect p {
  transition: opacity 0.35s, transform 0.35s;
}

.gallery figure.cc-effect:hover img {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.gallery figure.cc-effect:hover figcaption::before,
.gallery figure.cc-effect:hover figcaption::after {
  opacity: 1;
  transform: scale(1);
}

.gallery figure.cc-effect:hover figcaption:before {
  background: rgba(27, 23, 23, 0.5);
}

.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover button {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  color: #fff;
}

.gallery figure.cc-effect:hover figcaption::after,
.gallery figure.cc-effect:hover .h4,
.gallery figure.cc-effect:hover p,
.gallery figure.cc-effect:hover img {
  transition-delay: 0.15s;
}

/* Education Style */
.education-section .h5 {
  margin-bottom: 0;
}

.education-section .cc-education-header {
  padding-top: 60px;
  padding-right: 0;
  text-align: justify;
  color: #fff;
}

.education-section .bg-custom {
  background-color: rgba(14, 27, 64, 0.92);
}

.bg-skills {
  background-color: rgba(14, 27, 64, 0.92)
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.text-ruby {
  color: #bf251a;
}

.text-angular {
  color: #dd1b16;
}

.text-vue {
  color: #42b883;
}

.icon-html5-alt {
  color: #e34c26;
}

.icon-css3-alt {
  color: #264de4;
}

.icon-javascript-alt {
  color: #f0db4f;
}

.icon-ruby {
  color: #cc0000;
}

.icon-postgres {
  color: #336791;
}

.icon-git {
  color: #f34f29;
}

.form-select {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  padding: 0;
}

.form-floating>label {
  padding: 1rem 0.75rem;
  border: 0;
}

.form-select:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}

select#switch-lang {
  width: max-content;
}

.porfolio-card {
  display: flex;
  flex-direction: column;
  min-height: 145px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 6px;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  border-color: rgba(208, 215, 222, 1);
  border-width: 2px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 1);
}

.porfolio-card:hover {
  background-color: rgba(115, 163, 225, 0.25);
  border-color: #4A89DC;
  cursor: pointer;
  transition: 0.25s;
}

.porfolio-card .title {
  max-width: 232px;
  color: rgba(9, 105, 218, 1);
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
.porfolio-card .title:hover {
  text-decoration: underline;
}

.porfolio-card .description {
  max-width: 382px;
  margin-top: 14px;
  color: rgba(87, 96, 106, 1);
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.porfolio-card .language {
  display: flex;
  flex-direction: row;
  max-width: 46px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
}

.porfolio-card .name {
  max-width: 29px;
  margin-left: 4px;
  color: rgba(87, 96, 106, 1);
  font-size: 11px;
  text-align: left;
}